.floatWapp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:20px;
    right:20px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
  }
  
  .my-floatWapp{
    margin-top:16px;
  }

  .floatShop{
    position:fixed;
    width:60px;
    height:60px;
    bottom:360px;
    right:20px;
    background-color: #fb0453;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
  }
  
  .my-floatShop{
    margin-top:16px;
  }


.splide__pagination__page{
  display: none;
}

.container-anuncio{
  padding: 0;
}
.container-anuncio2{
  padding: 0;
}

.text-gris{
  color: #58585899;
}
.bg-grisClaro{
  background-color: #e6e4e499;
}
.card-img-top{
  height: 100%;
  width: 100%;
  background: url("../images/productos/p009/2.jpg") left center;
  background-size: 100%;
  border-radius: inherit;
  transition: all ease-in-out .4s;

}
.card:hover .card-img-top{
  height: 100%;
  width: 100%;
  background: url("../images/productos/p002/3.jpg") left center;
  background-size: 100%;
  border-radius: inherit;
  transition: all ease-in-out .4s;
}
@media ( max-width:663px){
 
  .splide__arrow{
      display: none;
  }
  .ocultar{
    display: none;
  }
}