.floatWapp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:20px;
    right:20px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
  }
  
  .my-floatWapp{
    margin-top:16px;
  }

  .floatShop{
    position:fixed;
    width:60px;
    height:60px;
    bottom:20px;
    left:20px;
    background-color: #fb0453;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
  }
  
  .my-floatShop{
    margin-top:16px;
  }


.splide__pagination__page{
  display: none;
}

.container-anuncio{
  padding: 0;
}
.container-anuncio2{
  padding: 0;
}

.text-gris{
  color: #58585899;
}
.bg-grisClaro{ 
  background-color: #e6e4e499;
}

.card-title{
  font-size: 15px;
}
.card-text{
  font-size: 13px; 
  color:#49484899;
}
.fw-bold{
  font-size: 15px;
  color:#000000;
}
/* .bg-degra{
  background: primary;
} */
/* .card-header{
  height: 220px;
  width: 100%;
  padding: 0px;
  overflow: hidden;
} */
.card{
  overflow: hidden;
  min-height: 420px;
  
}
.card .btn{
  display: none;
}
.card:hover .btn{
  display:block;
  transition: 0.5s;
  transition: transform 0.5s;
} 
.card:hover .card-img-top{
  opacity: 1;
  transform: scale(1.05) rotate(1deg);
  transition: transform 0.5s;
} 
@media ( min-width:664px){
  .card{
    overflow: hidden;
    /* min-height: 420px; */
  }
} 

@media ( max-width:663px){
 
  .splide__arrow{
      display: none;
  }
  .ocultar{
    display: none;
  }
  .card .btn{
    display: block;
    font-size: 12px;
  }
}


