@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
$font-family-base: 'Poppins', cursive;
$primary:  #DB0E53 ;
$secondary: #0596fc;
$success : #58585899;


$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  8: 72.6px,
);

@import "../node_modules/bootstrap/scss/bootstrap";

.container-header{
    margin-top: 80px;
    height: 30rem;
}

.container-slider{
    margin-top: 72.6px;

}

.content-formNav {
    width: 55%;


.carousel-inner{
    min-height: 400px;

}
.carousel-item {
    min-height: 400px;
    
}
.container-p{
    margin-top: 100px;
}
}


@media (max-width: 1200px) { 
 #buttonLogin{
     display: none;
 }

}
@media (max-width: 663px) { 
    #buttonLogin{
        display: none;
    }
    .container-slider{
        margin-top: 75.6px;
     
    }
    #carouselExampleIndicators{
        display: none;
    }
    #tiendaFace{
        display: none;
    }
    #videoY1{
       height: 200px;
    }
    
    
 
   }
@media ( max-width:663px){
    .imgSel{
        display: none;
    }
}

   @media (min-width: 663px) { 
    #categoriasImages{
        display: none;
    }
    #carouselExampleIndicatorsMobile{
        display: none;
    }
    
   
}
@media ( max-width:805px){
  .container-anuncio{
      display:none;
  }
}

@media (max-width: 833px) {
    #buttonMarket{
        display:none;
       }

}
@media (min-width: 833px) {
    #floatShop{
        display:none;
       }

}
.material-icons{
   vertical-align: middle;
}




