
$primary:  #db0e53 ;
$secondary: #0596fc;
$success : #3a3a3a;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  8: 72.6px,
);

@import "../node_modules/bootstrap/scss/bootstrap";

.container-header{
    margin-top: 80px;
    height: 30rem;
}

.container-slider{
    margin-top: 72.6px;

}

.content-formNav {
    width: 55%;


.carousel-inner{
    min-height: 400px;

}
.carousel-item {
    min-height: 400px;
    
}
.container-p{
    margin-top: 100px;
}

}


@media (max-width: 1200px) { 
 #buttonLogin{
     display: none;
 }

}
@media (max-width: 663px) { 
    #buttonLogin{
        display: none;
    }
    .container-slider{
        margin-top: 75.6px;
     
    }
    #carouselExampleIndicators{
        display: none;
    }
    #tiendaFace{
        display: none;
    }
    #videoY1{
       height: 200px;
    }
    
    
 
   }
@media ( max-width:663px){
    .imgSel{
        display: none;
    }
}

   @media (min-width: 663px) { 
    #categoriasImages{
        display: none;
    }
    #carouselExampleIndicatorsMobile{
        display: none;
    }
    
   
}
@media ( max-width:805px){
  .container-anuncio{
      display:none;
  }
}

@media (max-width: 833px) {
    #buttonMarket{
        display:none;
       }

}
@media (min-width: 833px) {
    #floatShop{
        display:none;
       }

}
.material-icons{
   vertical-align: middle;
}



.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }

        
        